### Tisdag 20/2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('..\\data\\Advertising.csv', index_col=0)
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [3]:
X = df.drop("Sales", axis ='columns')
Y = df['Sales']

Train | Test split. If algorithm needs separate validation (k-folds) we may need to split multiple times.
data processing eg polynomilas features, scaling, centering etc
train, perform regression aka fit to the data
predict / transform data / apply model
evaluate, compute metrics, statistics etc.

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

Normalisering:
(vi gör ej centrering eftersom vi inte vet om datan är normalfördelad.)

Det som händer nedan är att 'scaler' blir ett instans av objektet 'MinMaxScaler'.

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() #skapar ett objekt av minmaxscaler
scaler.fit(X_train) # beräknar min och max för varje kolumn i X_train

scaled_X_train = scaler.transform(X_train)
scaled_X_test = scaler.transform(X_test)

print(f'{scaled_X_train.min():.2f} <= scaled_X_train <= {scaled_X_train.max():.2f}')
print(f'{scaled_X_test.min():.2f} <= scaled_X_train <= {scaled_X_test.max():.2f}')

0.00 <= scaled_X_train <= 1.00
0.01 <= scaled_X_train <= 1.13

In [6]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(scaled_X_train, y_train)

print(f"Parameters {model.coef_}")
print(f"Intercept: {model.intercept_}")
print(f"Coefficient of multiple determination (R-kvadrat) {model.score(scaled_X_train, y_train)}")

Parameters [13.02832938  9.88465985  0.69237469]
Intercept: 2.7418553248528124
Coefficient of multiple determination (R-kvadrat) 0.9055159502227753

In [7]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

y_pred = model.predict(scaled_X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f"MAE: {mae:.5f} MSE: {mse:.5f} RMSE: {rmse:.5f}")

MAE: 1.51167 MSE: 3.79680 RMSE: 1.94854

#### Check mot normalfunktionen:
Gör ovan men med normalfunktionen, som vi gick igenom förra veckans code along.

In [8]:
X_test_i = X_test.copy() # pandas df
y_test_i = y_test.copy() # pandas df
X_test_i.head()

        TV  Radio  Newspaper
96   163.3   31.6       52.9
16   195.4   47.7       52.9
31   292.9   28.3       43.2
159   11.7   36.9       45.2
129  220.3   49.0        3.2

In [9]:
X_test_i.insert(0, 'Intercept', value=1)
X_test_i.head()

     Intercept     TV  Radio  Newspaper
96           1  163.3   31.6       52.9
16           1  195.4   47.7       52.9
31           1  292.9   28.3       43.2
159          1   11.7   36.9       45.2
129          1  220.3   49.0        3.2

In [10]:
X_test_i = np.array(X_test_i)
y_test_i = np.array(y_test_i)
regression_fit = lambda X, y: np.linalg.pinv(X.T @ X) @ X.T @ y
beta_hat = regression_fit(X_test_i, y_test_i)
beta_hat

array([ 3.3813516 ,  0.04959664,  0.16691845, -0.01490314])

Gör samma för X_scaled:

In [11]:
scaled_X_test_i = scaled_X_test.copy() # numpy array, gör en kopia för att addera en kolumn 'Intercept' utam att förstöra ursprungsdatan.

In [12]:
df_scaled_X_test_i = pd.DataFrame(scaled_X_test_i)
df_scaled_X_test_i.insert(0, 'Intercept', value=1)
df_scaled_X_test_i.head()
scaled_X_test_i = np.array(df_scaled_X_test_i)

In [13]:
y_test_i = np.array(y_test_i)
regression_fit = lambda X, y: np.linalg.pinv(X.T @ X) @ X.T @ y
beta_hat = regression_fit(scaled_X_test_i, y_test_i)
beta_hat

array([ 3.4115983 , 14.66572609,  8.27915522, -1.4992558 ])