### Lab Machine Learning, del 2: Film rekommendations system
#### Daniel Claesson, ITHS, AI-23
[länk till dataset på Kaggle](https://grouplens.org/datasets/movielens/)
Det använda datasetet heter "ml-latest".<br>
Målet med uppgiften är att ge användaren rekommendationer på filmer som kan passa en användare.

In [1]:
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt

In [2]:
ratings = pd.read_csv('../data/ratings.csv')
movies = pd.read_csv('../data/movies.csv')
tags = pd.read_csv('../data/tags.csv')

#### EDA
- Läser in filerna ratings, movies och tags och gör en analys av vad filerna innehåller. Innehållet i filerna finns också beskrivet i readme filen som kommer med datasetet. EDA sammanfattas längre ned.

In [3]:
ratings.sample(10)
#ratings.info()
#ratings['userId'].nunique()
#ratings['movieId'].nunique()
#ratings.describe()

          userId  movieId  rating   timestamp
289079      2901   175661     4.5  1583077337
3961843    38668      765     2.0   864401048
33366422  326556     1732     1.5  1592619339
30440272  297626     1321     3.0  1507830368
13274916  130508    86320     3.0  1681323808
15697135  154361      590     2.5  1159293349
30628027  299397     1265     5.0  1025621083
19776403  193454     1356     1.5  1151957506
12975514  127337   164179     5.0  1539788334
7485019    73227      153     2.0   901043915

In [4]:
movies.sample(10)
#movies.info()

,movieId,title,genres
40042,157671,Manhattan Night (2016),Mystery|Thriller
76734,253916,The Green Sea (2021),Drama|Mystery
63555,207832,"Help, Help, the Globolinks! (1969)",Sci-Fi
22592,115614,Summertree (1971),Drama
30864,136786,Careful What You Wish For (2015),Thriller
57255,194070,Live (2018),Horror|Thriller
2697,2789,Damien: Omen II (1978),Horror
5994,6105,Moonlighting (1982),Drama
47204,172841,Longitude (2000),Drama
4256,4360,There's No Business Like Show Business (1954),Musical

In [5]:
movies[movies['movieId'] == 58559]

       movieId                    title                   genres
12223    58559  Dark Knight, The (2008)  Action|Crime|Drama|IMAX

In [6]:
movies['genres'].value_counts().head(20)

genres
Drama                   12246
Documentary              8064
Comedy                   7689
(no genres listed)       7060
Comedy|Drama             3196
Drama|Romance            2788
Horror                   2467
Comedy|Romance           2176
Thriller                 1397
Comedy|Drama|Romance     1310
Drama|Thriller           1259
Horror|Thriller          1227
Crime|Drama              1142
Animation                1121
Drama|War                 811
Action                    783
Action|Drama              689
Western                   683
Crime|Drama|Thriller      651
Romance                   615
Name: count, dtype: int64

In [217]:
# vilka unika 'genres' finns det i movies? Delar upp genom att splitta på pipe.
movies['genres'].value_counts()

genres
Drama                                             12246
Documentary                                        8064
Comedy                                             7689
(no genres listed)                                 7060
Comedy|Drama                                       3196
                                                  ...
Action|Adventure|Crime|Drama|Sci-Fi                   1
Adventure|Animation|Children|Comedy|Drama             1
Action|Adventure|Crime|IMAX                           1
Action|Adventure|Comedy|Crime|Mystery|Thriller        1
Action|Adventure|Drama|Horror|Mystery|Thriller        1
Name: count, Length: 1796, dtype: int64

In [216]:
#tags.sample(10)
#tags.info()
tags['movieId'].nunique()
#print(type(tags['tag'][1])) #str

53452

In [9]:
tags['tag'].value_counts().head(50)

tag
sci-fi                   14319
atmospheric              12172
action                   10683
comedy                   10161
surreal                   9142
funny                     9094
visually appealing        8890
twist ending              8325
thought-provoking         7727
dark comedy               7659
based on a book           7584
dystopia                  6975
cinematography            6473
social commentary         6369
romance                   6338
violence                  6300
stylized                  6163
psychology                6111
fantasy                   6082
murder                    5955
classic                   5839
quirky                    5822
dark                      5750
time travel               5716
adventure                 5427
coming of age             5194
suspense                  5121
friendship                4988
psychological             4970
thriller                  4949
drama                     4901
space                     4890
revenge                   4828
great soundtrack          4810
superhero                 4787
black comedy              4757
cult film                 4700
based on a true story     4598
mystery                   4347
horror                    4278
great acting              4266
animation                 4260
mindfuck                  4243
satire                    4235
disturbing                4208
aliens                    4199
true story                4077
predictable               3997
BD-R                      3969
drugs                     3964
Name: count, dtype: int64

In [10]:
# analys av hur många recensioner varje user har gjort:
#user_rating_count = ratings.groupby('userId')['rating'].count()
#user_rating_count_df = user_rating_count.reset_index(name='rating count')
#fig, ax = plt.subplots(figsize=(10,3.5))
#sns.histplot(user_rating_count_df, x='rating count')
#ax.set_xlim(0,300)

In [11]:
#ratings[ratings['userId'] == 126357]
ratings[ratings['userId'] == 62130]

         userId  movieId  rating   timestamp
6364967   62130      467     3.0  1663215326
6364968   62130      741     3.0  1662507230
6364969   62130      750     3.0  1655521157
6364970   62130      924     4.5  1662964251
6364971   62130     1197     3.5  1662504336
...         ...      ...     ...         ...
6365145   62130   258451     3.5  1655521502
6365146   62130   268642     2.0  1681204761
6365147   62130   270946     3.0  1681204750
6365148   62130   274053     2.0  1681204731
6365149   62130   276137     3.0  1662963659

[183 rows x 4 columns]

#### Analys "Dirty Dancing"

In [12]:
movies[movies['title'] == 'Dirty Dancing (1987)']

      movieId                 title                 genres
1061     1088  Dirty Dancing (1987)  Drama|Musical|Romance

In [13]:
# analys av vilka användar taggar som en populär film som Dirt Dancing har fått:
tags_dd = tags[tags['movieId'] == 1088]
tags_dd

         userId  movieId             tag   timestamp
5649       1114     1088           dance  1147409630
5650       1114     1088           music  1147409627
17602      4311     1088         dancing  1367831310
22314      6407     1088    80's classic  1505669558
22315      6407     1088   coming of age  1505669556
...         ...      ...             ...         ...
2307520  327042     1088  Patrick Swayze  1166375572
2317033  328584     1088    80's classic  1391876140
2317034  328584     1088           dance  1391876127
2317035  328584     1088         dancing  1391876129
2317036  328584     1088  Patrick Swayze  1391876160

[398 rows x 4 columns]

In [14]:
tags_dd['tag'].unique()

array(['dance', 'music', 'dancing', "80's classic", 'coming of age',
       'Nana viu', '1960s', 'Jennifer Grey', 'Patrick Swayze', 'romance',
       'soundtrack', 'summer camp', 'summer romance',
       'See:Dirty Dancing (1987)', 'AFI 100 (Movie Quotes)', 'overrated',
       'abortion', 'class differences', 'father daughter relationship',
       'teen movie', 'MMsWL', 'cheesy', 'chick flick', 'southern theme',
       'no one puts Baby in a corner', 'guilty pleasure', "80's",
       'musical parodies', 'classic', 'Dancing', 'bourgeois',
       'class themes', 'doctor', 'family holiday', 'holiday', 'holidays',
       'mambo', 'secret love', 'sister sister relationship',
       'unwanted pregnancy', 'Cynthia Rhodes', 'predictable',
       'social inequality', 'seen 2010', 'rich families', 'teen', 'cute',
       "1960's", '1963', 'girlie movie', 'BD-Video',
       'romance boygirl dancing', 'catskill resort', 'dance performance',
       'dancing master', 'daughter', 'hotel', 'robbery', 'sensuality',
       'sex', 'sibling relationship', 'teenage crush', 'youth',
       'feminist', '1980s', 'cult film', 'emotional comfort', 'jewish',
       'summer', 'summer vacation', 'Dance', 'Music ', 'ff', 'gay',
       'not very good', 'great soundtrack', 'Romance', 'Gezien',
       'Abortion', 'Bourgeois', 'Class Struggle', 'Coming of Age',
       'Family', 'High School', 'Summer Camp', 'Summer Romance',
       'White Privilege'], dtype=object)

In [15]:
tags_dd['tag'].value_counts().head(15)

tag
dancing           55
dance             32
coming of age     29
romance           26
Patrick Swayze    25
80's classic      15
music             15
cheesy            14
1960s             13
teen movie        11
abortion          10
Jennifer Grey      9
Dancing            9
classic            9
soundtrack         8
Name: count, dtype: int64

#### Analys "The Dark Knight"

In [16]:
movies[movies['title'] == 'Dark Knight, The (2008)']

       movieId                    title                   genres
12223    58559  Dark Knight, The (2008)  Action|Crime|Drama|IMAX

In [17]:
tags_dk = tags[tags['movieId'] == 58559]
tags_dk

         userId  movieId                     tag   timestamp
5            14    58559             Atmospheric  1311530439
6            14    58559                  Batman  1311530391
7            14    58559              comic book  1311530398
8            14    58559                    dark  1311530428
9            14    58559            Heath Ledger  1311530404
...         ...      ...                     ...         ...
2328005  330824    58559          cinematography  1598820119
2328006  330824    58559                    dark  1598819759
2328007  330824    58559             Hans Zimmer  1598820121
2328008  330824    58559            Heath Ledger  1598819766
2328009  330824    58559  psychological thriller  1598820122

[3806 rows x 4 columns]

In [18]:
tags_dk['tag'].unique()
#len(tags_dk['tag'].unique()) # 284

array(['Atmospheric', 'Batman', 'comic book', 'dark', 'Heath Ledger',
       'imdb top 250', 'Michael Caine', 'Morgan Freeman',
       'Oscar (Best Supporting Actor)', 'psychology', 'superhero',
       'vigilante', 'violence', 'action', 'Christopher Nolan',
       'Hans Zimmer', 'Heath Ledger as the Joker', 'Christian Bale',
       'atmospheric', 'cinematography', 'music',
       'Soundtrack: Hans Zimmer', 'great characters', 'great villain',
       'gritty', 'quotes', 'dark hero', 'mass surveillance', 'stylized',
       'Aaron Eckhart', 'based on a comic', 'Comic Book adaption',
       'DC Comics', 'Gary Oldman', 'Joker', 'Maggie Gyllenhaal', 'Quotes',
       'SuperVillain', 'thriller', 'too long', 'violent',
       'Library of Congress', 'National Film Registry', 'Batman (series)',
       'mask', 'To See', 'heath ledger', 'Dark hero', 'ensemble cast',
       'serial killer', 'anti-hero', 'Christopher Nolanï¼Œbatman',
       'corruption', 'organized crime', 'psychological thriller',
       'Thriller ', 'game theory', 'Joker is cool', 'comics', 'murder',
       'setting:Chicago', 'sufficiently explodey to be good', '< 2019',
       'unrealistic', 'Health Ledger', 'animal:dog', 'Bechdel Test:Fail',
       'notable:motorcycle', 'villain:The Joker', 'villain:The Scarecrow',
       'villain:Two-face', 'widespread cellphone-based surveillance',
       'perfect', 'soundtrack', 'self-sacrifice', 'batman',
       'psychological', 'Music ', 'good sequel', 'annoying voice',
       'not dark enough', 'PG-13', 'pretentious', '===========',
       'shallow', 'supervillain', 'involving action', 'great acting',
       'DVD', 'James Newton Howard', 'Great Characters',
       'Unfulfilled love', 'violent disturbing', 'mytag',
       'fresher perspective', 'christian bale', 'cops',
       'district attorney', 'fascist', 'Intriguing', 'overrated',
       'criminals', 'disfigurement', 'gang', 'Gotham', 'heroism',
       'moral dilemma', 'revenge', 'secret identity', 'seen 2021',
       'sequel', 'cult film', 'owned', 'Best Villian',
       'christopher nolan', 'villain:the joker', 'criminal mastermind',
       "Nostalgia Critic's Top 20", 'super hero', 'rewatch', 'Dark',
       'Adaptation', 'Non screaming Gary Oldman', 'vigilantism',
       'morgan freeman', 'no', 'Poorly casted lead actress', 'smart',
       'tediously long', 'unsatisfying ending', 'repeat', 'hanging',
       'adapted from:comic', 'Bechdel Test:Pass', 'Criticker top pick',
       'electronic music score', 'I Love Movies Top Pick',
       'masked vigilante', 'money', 'movielens top pick',
       'MoviePig Top Pick', 'opening action scene',
       'Oscar (Best Sound Editing)', 'Oscar Nominee: Art Direction',
       'Oscar Nominee: Cinematography', 'Oscar Nominee: Editing',
       'Oscar Nominee: Makeup', 'Oscar Nominee: Sound Mixing',
       'Oscar Nominee: Visual Effects',
       'PG-13:intense sequences of violence', 'PG-13:some menace',
       'presumed dead', 'scarred face', 'Seen 2018', 'urban setting',
       'Waatch top pick', 'harsh', 'dramatic', 'humanity', 'joker',
       'Nolan', 'thought-provoking', 'Rewatch', 'Not Mark Hamill',
       'racing', 'Vigilante', 'heist', 'corrupt cops', 'nocturnal',
       'tough choices', 'villain steals the show', 'acting', 'chaos',
       'spectacle', 'Imax', 'vigilante justice', 'authentic', 'seamless',
       'adventure', 'blu-ray', 'mine', 'Comic Movie', 'favorite',
       'farcical', 'Soundtrack', 'fast', 'Heath Ladger', 'Killing',
       'Quotable Movie!', 'Scars', 'Threatening Villain', 'exciting',
       'classic', 'epic', 'real hero', 'script', 'jocker the king',
       'aaron eckhart', 'long', 'michael caine', 'BD-Video', 'IMAX DMR',
       'partially photographed in IMAX', 'Glaring holes in movie logic',
       'explosions', 'characters', 'story', 'legendary', 'multilayered',
       'dialogue', 'jokes', 'realistic', 'pseudo rated', 'great plot',
       'twists & turns', 'big budget', 'neo-noir', 'based on comic',
       'crime fighter', 'dc comics', 'gotham city', 'imax', 'sadism',
       'scarecrow', 'super power', 'super villain', 'tragic hero',
       'samurai', 'Bruce Wayne', 'Jim Gordon', 'iconic', 'persistence',
       'prosecutor', 'so good', 'Director: Christopher Nolan',
       'Soundtrack: James Newton Howard', 'William Fichtner',
       'movie to see', 'double life', 'franchise', 'IMDB Top 250',
       'Cillian Murphy', 'Anticlimactic', 'philosophical', 'editing',
       'Cool', 'batman and joker relationship', 'dystopia', 'Madness',
       'PG13', '小丑', 'Mitchel Classic', 'Visually Striking', 'drama',
       'Heath ledger', 'too violent', 'sure thing', 'good decison',
       'mindset of a hero', 'Dark Knight Trilogy', 'Superhero',
       'seen more than once', 'badass', 'terrorism', 'boring', 'soulless',
       'uninspired', 'anticlimactic', 'black and white morals', 'corny',
       'fast-paced dialogue', 'funny', 'good effects',
       'intelligent dialogue', 'no emotional investment', 'plot holes',
       'shallow characters', 'sociopath', 'fight scenes', 'madness',
       'morality', 'the joker', "batman's voice", 'gotham'], dtype=object)

In [19]:
tags_dk['tag'].value_counts().head(20)

tag
Heath Ledger         257
Batman               243
dark                 212
superhero            202
Christian Bale       188
Christopher Nolan    178
action               160
psychology           149
Morgan Freeman       122
thriller             107
Atmospheric           79
Joker                 77
Michael Caine         77
atmospheric           74
vigilante             74
comic book            72
stylized              71
Gary Oldman           67
gritty                64
great villain         61
Name: count, dtype: int64

In [223]:
movies[movies['title'] == 'The Lord of the Rings (2001)']

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

#### Analys Batman Returns

In [20]:
movies[movies['title'] == 'Batman Returns (1992)']

      movieId                  title        genres
1341     1377  Batman Returns (1992)  Action|Crime

In [21]:
tags_br = tags[tags['movieId'] == 1377]
tags_br

         userId  movieId         tag   timestamp
6955       1398     1377      Gothic  1331174444
6956       1398     1377   superhero  1331174448
19330      4976     1377  super-hero  1151067311
19473      5143     1377      batman  1226116091
19474      5143     1377   superhero  1226116089
...         ...      ...         ...         ...
2189253  299033     1377   superhero  1411600821
2189254  299033     1377  Tim Burton  1411600819
2279745  318329     1377  super-hero  1137179137
2289267  321667     1377   franchise  1159463547
2318171  328932     1377   cat women  1295060103

[370 rows x 4 columns]

In [22]:
tags_br['tag'].value_counts().head(5)

tag
superhero            28
Tim Burton           27
Batman               22
dark hero            22
Michelle Pfeiffer    18
Name: count, dtype: int64

#### Analys "I'm not there"

In [23]:
movies[movies['title'] == "I'm Not There (2007)"]

       movieId                 title genres
11979    56286  I'm Not There (2007)  Drama

In [24]:
tags_ImNotThere = tags[tags['movieId'] == 56286]
tags_ImNotThere

         userId  movieId                  tag   timestamp
36391      7716    56286            androgyny  1226940972
99087     18266    56286            Bob Dylan  1675261319
136396    27227    56286            confusing  1307757786
136397    27227    56286          David Cross  1307757790
136398    27227    56286              surreal  1307757800
...         ...      ...                  ...         ...
2086502  275825    56286       cate blanchett  1444512562
2222140  307012    56286       perrot library  1255144657
2282571  319758    56286            biography  1577661193
2282572  319758    56286  multiple storylines  1577661176
2282573  319758    56286             pastiche  1577661169

[455 rows x 4 columns]

In [25]:
tags_ImNotThere['tag'].value_counts().head(20)

tag
Bob Dylan           12
surreal              7
surrealism           6
Mindfuck             6
confusing            6
music                5
androgyny            5
cate blanchett       5
Cate Blanchett       4
1960s                4
allen ginsberg       3
Christian Bale       2
bob dylan            2
horseback riding     2
faked death          2
actor                2
R                    2
David Cross          2
biography            2
reporter             2
Name: count, dtype: int64

### Mest populära tag's för alla filmer

In [26]:
#tags_list = tags['tag'].unique().tolist()
#len(tags_list) # 153950 unika tags

In [27]:
# skapar en lista över top_n tags baserat på hur ofta de förekommer bland alla filmer.
top_n = 10000 # 
top_n_tags = tags['tag'].value_counts().head(top_n).index.to_list()
print(f"Martin Scorsese finns bland top {top_n} användar-tags: {'Martin Scorsese' in top_n_tags}")
print(f"Bob Dylan finns bland top {top_n} användar-tags: {'Bob Dylan' in top_n_tags}")
print(f"Helena Bergström finns bland top {top_n} användar-tags: {'Helena Bergström' in top_n_tags}")

Martin Scorsese finns bland top 10000 användar-tags: True
Bob Dylan finns bland top 10000 användar-tags: True
Helena Bergström finns bland top 10000 användar-tags: False

#### EDA slutsatser, summering och tankar
- 'ratings' innehåller 33.8 miljoner filmbetyg ('rating') från 0 till 5 med steget 0.5, av 330.975 unika användare ('userId'), för 83.239 unika filmer ('movieId').
- 'movies' innehåller data för 86.532 unika filmer ('movieId'). Innehåller titel ('title') och genres ('genres'). Genres är en pipe-separated lista som genres som passar till filmen. 7060 filmer saknar helt 'genre'.
- 'tags' innehåller 2.328.315 användar-adderade taggar ('tag') till filmerna, användarna identifieras med ('userId'). 53.452 av filmerna har fått taggar av användarna. Dvs, cirka 30.000 filmer saknar användar-adderade taggar. Det finns 153.950 unika tags.
- Alla ratings och tags har också en timestamp. Har inte undersökt denna mer noggrant än så.
- Det finns en spridning i hur många ratings användare har gjort. Många som gjort en rating, har endast gjort en (1 rating). En del användare har gort många ratings. Det är en topp kring runt 20-25 ratings.
<br>
- I filen 'ratings' finns kolumnen 'tags', som användare har angett. Den informationen kommer vara essentiell, eftersom baserat på den informationen anger mycket information om filmen. Eftersom man vet vilka användare som skrivit tags, så kan eventuellt informationen kan avslöja användarens preferenser, men det behöver troligen undersökas.
- Att använda 'tags' kan också vissa innebära svårigheter. Tex filmen Dark Knight har 'batman' 243 gånger men Batman Returns har 'batman' endast 22 gånger. Dvs, datan måste normaliserar eller liknande (Dark Knight är ju inte 11 gånger mer 'batman' än Batman Returns). Samtidigt måste troligen hänsyn tas till 'frekvens' av olika tags: Dark Knight är ju mer 'batman' än 'great villain'.
- En annan observation är att informationen i 'genre' kolumnen i filen 'movies' är tämligen begränsad. Det styrker att användar-taggarna blir avgörande för att kunna ge bra rekommendationer. Detta eftersom de ger en djupare insikt i vad varje film egentligen handlar om, vilka skådespelare som spelar osv. Dessutom, många taggar är återkommande, vilket gör att man kan rangordna taggar utefter hur ofta de förekommer.
    - Ett exempel på att användartaggarna kommer vara avgörande är filmen The Dark Knight. I 'movies' datan så anges endast "Action|Crime|Drama|IMAX" i 'genre'. Det är väldigt begränsad information och säger endast på en väldigt hög nivå vad filmen handlar om (tex kan man utesluta kommedi eller western). När man adderar användar taggarna så får man information såsom 'batman', 'Heath Ledger', 'super hero, 'joker' med mera. Denna informationen är också omfattande, det finns 284 unika tags som tillsammans ger mycket mer kött på benen vad filmen handlar om.
    - Man skulle kunna sammanfatta det med att taggarna ger en stor mängd information, liknande Features i analys vi gjort tidigare i ML kursen. Men Features'arna kommer vara unika för varje film, men givetvis kan samma tagg återkomma i olika filmer. Alla Batman filmer har ju troligen taggen 'batman'.
    - Om man bestämmer sig för att klustra filmer baserat på "hur lika de är varandra" kommer taggarna vara nödvändiga.


- Mina egna tankar kring hur man skulle kunna göra:
1. En strategi skulle kunna vara att rekommendera filmer till en användare baserat på den användarens och andra användares ratings av filmer. Dvs, klustra användare, så att liknande användare hamnar i samma kluster. Det kräver förmodligen att användaren har gjort ganska många ratings, eftersom det krävs för att definiera användaren och placera i rätt kluster (detta kallas "cold start problem" enligt Wikipedia artikeln). Samma gäller för filmer (dvs, filmer med få ratings kommer vara svåra att rekommendera). Användare som gjort liknande ratings hamnar i samma kluster. I dess enklaste form, skulle man sedan rekommendera filmer till användaren, som andra användare i samma kluster har gett högt betyg, men som användaren själv inte betygsatt (="inte sett själv").
2. En annan strategi skulle kunna vara att rekommendera filmer till en användare baserat på filmer som användaren gillar. Användaren skulle då ange titel på sin favoritfilm eller favoritfilmer, för att sedan få förslag på liknande filmer. Algoritmen skulle kunna ta hänsyn till vilka betyg liknande filmer har fått och prioritera filmer med högt betyg som förslag till användaren. I den här strategin skulle man klustra filmer baserat på likhet, genom att ta hänsyn till filmens 'genre' och användartaggar för filmen.
3. En tredje strategi som kombinerar användarens betyg för olika filmer med filmernas 'features' skulle kunna vara att identifiera användarens smak mha filmernas tags. Tex kanske en user ger höga betyg till filmer som taggats 'Sci-Fi' men låga till filmer som taggats 'western'.

- Existerande metoder:
- Collaborative filtering: Denna metoden liknar min tanke 1 ovan. Metoden går ut på att man kan uppskatta en användare A's rating av osedda filmer, baserat på andra liknande användares rating på dessa filmer. I princip kommer man använda rating av andra användare med liknande smak, för att uppskatta en rating för filmer som användare A inte har betygsatt.<br>Wikipedia: "Den bästa rekommendationen kommer från andra med liknande smak."  
[Wikipedia](https://en.wikipedia.org/wiki/Collaborative_filtering)  
[knowledgehut](https://www.knowledgehut.com/blog/data-science/movie-recommendation-system)  
[algolia](https://www.algolia.com/blog/ai/the-anatomy-of-high-performance-recommender-systems-part-iv/?utm_source=google&utm_medium=paid_search&utm_campaign=rl_emea_search_dstalg_nb_dynamic&utm_content=blog_ai_dynamic&utm_term=&utm_region=emea&utm_model=nonbrand&utm_ag=rl&utm_camp_parent=slg&utm_2nd_camp=dstalg&_bt=677640514505&_bm=&_bn=g&gad_source=1&gclid=CjwKCAjwzN-vBhAkEiwAYiO7oMYf76up9PTTg7tuoqBRKsJyAohMi_ZiP-Yow0JtYB0T7T1e8meiEhoCfVMQAvD_BwE)  
<br>
- Content filtering: Metoden går ut på att hitta likheter mellan filmer. Den kunskapen kan sedan användas för att, baserat på en film-titel hitta liknande filmer. Så om användaren anger en (eller flera) film-titel som den gillar, kan algoritmen ge förslag på andra liknande filmer. Eftersom taggarna är essentiella för uppdraget, så behöver vi ha en metod som kan jämföra taggar för olika filmer och kunna avgöra om taggarna liknar varandra eller om de skiljer sig avsevärt. En sådan teknik är "cosine similarity".


- Rekomenderingsalgoritmen bör (troligen) helst i första hand rekommendera 'populära' filmer. Dvs filmer som har många recensioner och höga betyg (men som inte blivit recenserad av användaren). Men för optimal prestanda måste den också kunna ge förslag på mindre kända filmer, som kanske inte har många recensioner men ett stadigt högt betyg eller som uppfyller användarens nischade smak.

#### Approach
- Jag försöker göra en Collaborative Filtering approach.
-

#### Skapar en sparse matrix
- väljer ut m top filmer och n random users, för att minska ner mängden information, så den blir överskådlig.

In [28]:
# slumpar fram n userId's (alla har troligen inte gett ratings på filmer)
import random
random.seed(42)
n = 50
list_of_all_users = ratings['userId'].unique().tolist()
random_n_users =random.sample(list_of_all_users, n)
print(random_n_users)

[58370, 13113, 144195, 128394, 117027, 73159, 53737, 285930, 45581, 309589, 221209, 16664, 15623, 49124, 114630, 121982, 264952, 315632, 13913, 294255, 104249, 285707, 219950, 115575, 235515, 308945, 145853, 3408, 83708, 221572, 178390, 145685, 81517, 112887, 176473, 53588, 48626, 199192, 50708, 188209, 180332, 316527, 138686, 22781, 240871, 281138, 65445, 198462, 41314, 289429]

In [29]:
reduced_ratings = ratings[ratings['userId'].isin(random_n_users)]
reduced_ratings['userId'].unique() # de här userID'na har gett rating på minst en film

array([  3408,  13113,  13913,  15623,  16664,  22781,  41314,  45581,
        48626,  49124,  50708,  53588,  53737,  58370,  65445,  73159,
        81517,  83708, 104249, 112887, 114630, 115575, 117027, 121982,
       128394, 138686, 144195, 145685, 145853, 176473, 178390, 180332,
       188209, 198462, 199192, 219950, 221209, 221572, 235515, 240871,
       264952, 281138, 285707, 285930, 289429, 294255, 308945, 309589,
       315632, 316527], dtype=int64)

In [30]:
reduced_ratings.sample(10)

          userId  movieId  rating   timestamp
341396      3408     3034     4.0  1062887913
18407312  180332     1213     4.5  1107304278
32294393  315632      786     3.0   856087008
28779525  281138      736     3.0   846871860
19205944  188209     2105     1.0   901504810
29242952  285707   116823     3.5  1443513379
11748094  115575     1748     1.5  1135704252
24725557  240871     1302     5.0   907048233
8529393    83708      104     2.0   863277614
5237639    50708     6377     4.0  1159377617

In [31]:
# väljer ut de m mest betygsatta filmerna i datasetet
m = 25
top_m_movies = ratings['movieId'].value_counts().head(m).index.to_list()
#top_m_movies # filmens "movieId"

In [32]:
# reducerar reduced_ratings så att den enbart innehåller de m mest rateade filmerna
reduced_ratings_2 = reduced_ratings[reduced_ratings['movieId'].isin(top_m_movies)]

In [33]:
# skapa en sparse matrix, baserat på de n users och m filmer med Pandas pivot method och scipys csr_matrix:
from scipy.sparse import csr_matrix
pivot_table = pd.pivot_table(data=reduced_ratings_2, index='userId', columns='movieId', values='rating', fill_value=0)
pivot_table

movieId,1,47,50,110,260,296,318,356,480,527,...,1210,1270,2571,2858,2959,4993,5952,7153,58559,79132
userId,,,,,,,,,,,,,,,,,,,,,
3408,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13913,0.0,5.0,4.0,0.0,0.0,5.0,5.0,5.0,4.5,5.0,...,3.0,5.0,5.0,5.0,4.5,0.0,0.0,0.0,0.0,0.0
16664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22781,0.0,2.0,0.0,5.0,0.0,2.0,0.0,5.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41314,0.0,0.0,0.0,0.0,0.0,0.0,4.5,4.5,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45581,0.0,0.0,3.5,0.0,3.5,4.5,4.5,0.0,0.0,3.5,...,0.0,0.0,4.5,4.0,4.5,3.5,3.5,3.5,0.0,0.0
49124,0.0,5.0,5.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,...,0.0,0.0,5.0,4.0,5.0,0.0,0.0,3.0,5.0,5.0
53737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58370,0.0,0.0,4.0,0.0,0.0,3.0,4.0,5.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.5,3.5,0.0,0.0,0.0,0.0,0.0
83708,4.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
104249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114630,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115575,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117027,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
128394,0.0,0.0,0.0,5.0,5.0,1.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
144195,0.0,0.0,0.0,0.0,5.0,5.0,5.0,4.5,0.0,0.0,...,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,5.0,4.5
145685,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,4.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176473,0.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
178390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,5.0,0.0
180332,3.0,0.0,4.5,3.0,0.0,4.0,0.0,2.0,4.0,0.0,...,0.0,0.0,0.0,5.0,5.0,4.0,0.0,0.0,0.0,0.0
188209,0.0,4.0,4.0,5.0,0.0,4.0,4.0,4.0,3.0,5.0,...,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198462,0.0,3.0,0.0,5.0,0.0,1.0,3.0,4.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199192,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
221572,4.0,4.0,4.0,5.0,0.0,3.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
235515,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0
240871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
281138,4.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0,4.0,5.0,...,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285707,0.0,4.0,0.0,4.0,0.0,2.5,5.0,4.5,3.0,4.0,...,0.0,0.0,4.5,3.5,5.0,3.5,3.5,3.5,4.0,4.5
289429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
294255,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
308945,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
309589,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0
315632,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
316527,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
sparse_matrix = csr_matrix(pivot_table)
#print(sparse_matrix)

In [35]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=20)
user_features = svd.fit_transform(sparse_matrix)
user_features

array([[ 4.22415432e+00, -2.01589844e+00, -7.33922298e-01,
         2.82707530e+00, -1.27532040e+00, -1.08037786e+00,
         1.68380283e+00,  2.93765171e+00,  1.35771644e+00,
         1.97506772e+00,  2.15972992e+00, -2.24701400e+00,
         1.06973095e+00,  8.52245620e-01,  7.30583106e-01,
         2.34797197e-01,  7.77755055e-01,  5.15860787e-02,
         4.54082719e-01,  4.61166083e-01],
       [ 6.64453695e-01,  9.49262407e-02,  1.82847309e+00,
        -4.31379757e-01,  1.72163595e-01,  1.38199347e+00,
         2.56864215e+00, -1.57998180e-01, -8.96020867e-01,
        -9.80357440e-01, -1.16379702e+00, -1.34863385e-01,
         2.94748767e+00,  4.32049252e-01, -2.31165538e-01,
        -9.30768576e-02,  3.69266057e-02,  1.70058465e-01,
        -1.68157764e-01, -5.36560821e-01],
       [ 1.69477377e+01,  2.34960196e+00, -2.04755451e+00,
         5.70882085e+00, -3.71654603e-01,  5.01251420e+00,
         1.46026185e+00,  7.90754053e-02,  1.31326366e+00,
        -6.55685821e-01,  1.01467849e+00,  5.19439867e-01,
         6.27802776e-01, -1.30339277e+00, -9.88122967e-01,
        -5.74327074e-01, -4.24044327e-01, -5.13767472e-01,
         4.94233071e-01,  8.77126288e-01],
       [ 1.78299876e+00, -1.01911106e+00, -8.06705195e-01,
         1.10407689e-01,  4.86964810e-01, -1.33961183e+00,
        -3.93665994e-01,  1.92676499e-01,  1.64681672e+00,
         8.26528715e-01,  1.64535788e+00, -7.51848211e-01,
         2.43448083e+00,  4.82941485e-01,  7.06771947e-01,
        -4.86288752e-02,  1.37045906e+00,  8.81945071e-01,
         1.20478101e+00, -4.05236923e-01],
       [ 7.01125672e+00, -5.78783519e+00, -1.00252386e+00,
        -2.19222987e+00,  1.81501275e+00,  2.82635935e+00,
        -2.50448007e+00,  6.03173954e-02,  1.80904227e+00,
        -1.67841551e+00, -1.10706386e+00, -2.67469061e-02,
        -6.95183972e-01, -7.26075103e-01, -1.86130354e-01,
         7.36060254e-01, -9.05490048e-01,  3.45737538e-01,
         7.85349781e-01, -4.50292290e-01],
       [ 4.12245223e+00, -6.09003171e-01, -1.08738367e-01,
         4.19426772e-02, -4.29389518e+00, -5.00502068e-01,
        -3.35789190e-01,  1.29878296e+00, -3.85884029e-01,
         2.88262542e-01, -1.53253295e+00,  2.97933164e+00,
        -9.25927868e-01,  1.29038325e+00, -9.80792783e-01,
        -3.76273311e-01,  1.24405479e+00, -7.47012304e-01,
        -5.29652056e-01, -7.16155713e-01],
       [ 1.11692550e+01,  7.83947459e+00,  1.85998641e-01,
         3.54134074e+00,  1.91852582e+00, -3.86235070e+00,
        -2.23738107e+00, -2.78747461e-01, -5.14330994e-01,
         2.81738236e+00, -1.51239229e+00, -1.15896961e-01,
         1.37178650e+00, -7.16391513e-01, -2.83261015e-01,
         6.74011631e-02, -1.55647335e+00,  1.16076424e+00,
        -9.43320919e-02, -5.85300644e-01],
       [ 1.10611901e+01,  6.57347192e+00, -6.29817768e+00,
        -4.52320083e+00, -1.95701423e+00,  2.28821044e-01,
         1.75761723e+00, -6.33961192e-01,  5.30088449e-01,
        -5.32712988e-01,  3.32193859e+00,  1.81841682e-01,
         2.03018762e-01,  6.31438343e-01, -4.23270739e-01,
         1.74618932e+00, -2.51195846e-01, -7.98548394e-01,
        -7.79683682e-01, -2.13766847e-01],
       [ 4.47664572e-01,  9.30510589e-01, -5.85343881e-02,
         3.54759194e-01,  7.96955860e-01,  9.28018065e-01,
         3.12588586e-01, -3.97185058e-01,  3.99894040e-01,
         1.47283373e+00, -2.58957423e-01,  8.18651689e-01,
        -3.33873263e-01, -2.44292988e-01, -1.78442158e-03,
         1.25030816e+00,  4.61151875e-01,  6.00218960e-01,
         2.37673512e-01, -3.68693807e-01],
       [ 8.07679083e+00, -2.39689223e+00, -1.47658921e+00,
         1.66719106e+00, -4.31335364e+00, -1.53585850e+00,
        -1.89279220e-01, -2.19881738e+00,  1.53805256e+00,
         8.36065181e-01, -1.38171226e+00,  1.99886915e+00,
         4.34651284e-01,  1.74352296e+00,  2.46180087e-01,
        -6.88055494e-01, -4.32013074e-02,  1.23295189e-01,
        -3.15853359e-02, -4.76357343e-01],
       [ 1.57528893e+00,  3.03682490e+00, -1.73601723e+00,
         1.11094442e+00,  2.57689053e+00,  1.18764986e+00,
         4.48214826e-01,  3.41631119e-01,  5.14402830e-01,
         5.62324566e-01, -6.00418814e-01,  1.23418211e+00,
        -3.15647383e-01,  3.96944978e-01, -1.30969434e+00,
         1.29650215e+00,  1.04055660e+00,  1.35455398e+00,
        -8.99473978e-01,  4.09933358e-01],
       [ 1.59853256e+00,  5.32019553e-01,  4.93757297e+00,
        -9.79841338e-01,  1.64338890e+00, -1.69358942e+00,
         4.18399928e+00,  3.57648591e-01,  1.18576452e+00,
        -2.33729784e+00, -2.20960755e-01,  1.74346038e+00,
         1.47485569e+00, -3.24661320e-01, -5.08297712e-01,
         2.43706028e-01, -1.20219445e+00,  4.90313591e-01,
         5.70704282e-02, -3.35106126e-01],
       [ 1.03951108e+00, -5.43195192e-01, -5.38800700e-02,
         1.62720289e+00, -1.58316687e+00, -9.23211201e-01,
         8.61326078e-01,  1.34972281e+00, -3.38879758e-02,
         7.18386814e-01, -1.64306558e+00, -2.87991123e-01,
        -4.74068694e-01,  8.92272925e-01, -2.39911730e-01,
         7.24481874e-01, -1.08182417e-01, -1.77670291e-01,
         4.29969301e-01,  8.38709399e-01],
       [ 1.52603921e+00, -1.56837336e+00,  1.56088682e+00,
        -1.96529456e+00,  2.05091888e+00,  1.06776898e+00,
         1.88165424e+00,  3.23353135e-01, -2.18324405e+00,
         3.99958883e-01, -1.45189622e+00, -9.99339800e-02,
         1.80210469e+00,  8.01323487e-01, -7.66962809e-01,
        -1.39644993e-01, -2.00318074e-01, -3.15976249e-01,
         1.38321705e-01,  3.02790953e-01],
       [ 1.59349484e+00, -9.28122028e-01,  5.20844715e-01,
         2.22549839e+00, -1.11875860e+00, -2.72303053e+00,
         2.87118242e+00,  1.75741460e+00,  1.90727118e-01,
        -3.10668170e-01, -1.80852799e+00,  4.70185903e-01,
        -1.91997149e+00,  1.38889003e-01,  1.59459189e-01,
         1.53194123e+00,  6.15959761e-01, -4.87071138e-01,
         1.08390117e+00,  2.65449254e-01],
       [ 1.24309532e+00, -2.05539294e+00,  1.22635431e-01,
        -2.02523844e+00,  2.39148500e+00, -4.72822419e-02,
        -2.16574357e-01,  5.62189599e-01, -1.83303420e+00,
         1.48030604e+00, -6.51073259e-01,  9.94590984e-03,
        -6.94856812e-01,  5.69605106e-01, -7.27537973e-01,
        -8.14793840e-02, -2.87324198e-01, -5.65028776e-01,
         3.41059895e-01,  9.15049512e-01],
       [ 9.47817721e-01,  1.03199499e+00, -8.15507965e-01,
         1.73327147e+00,  1.41217032e+00,  1.17943177e+00,
         2.73193161e-01,  1.69637302e+00, -8.29237986e-01,
        -9.61343952e-01,  1.54413775e+00,  1.07813130e+00,
        -2.99837738e-01,  1.89186927e+00,  1.33823776e+00,
        -1.05454956e+00, -9.34095361e-01, -8.58844553e-02,
        -5.59752817e-02,  3.85059959e-01],
       [ 5.63363898e+00, -3.06962188e+00,  1.69175048e+00,
        -3.90954450e+00,  2.40577987e+00, -1.89264505e+00,
        -1.66693899e+00,  1.04330233e+00,  3.62960407e+00,
         1.58288942e+00,  6.64169915e-01,  1.93110332e+00,
         1.29613247e+00,  2.12666828e+00, -8.48591237e-02,
        -6.21184515e-01, -4.53263705e-01, -4.08008676e-01,
        -4.11740919e-01,  1.09378755e+00],
       [ 1.01501108e+01,  7.81109470e+00,  7.51612366e+00,
        -4.31548776e+00, -2.02903519e+00,  2.87975640e+00,
         1.42106639e-01, -1.81593122e+00,  7.00091072e-01,
         9.91873765e-01, -1.40884338e+00,  4.05259733e-01,
        -4.96504470e-01, -2.66122714e-01,  2.24327323e+00,
         6.56768406e-02,  1.04048121e+00,  1.68493132e-01,
         5.64279804e-01,  4.25468645e-01],
       [ 1.32730289e+01, -6.48969585e+00, -2.44675288e+00,
         2.34872674e-01, -2.12608980e+00, -3.55276026e-01,
        -5.84986440e-01, -2.42941883e+00, -6.66362747e-01,
         1.22023555e-01, -6.81924441e-01,  2.60267925e-01,
        -8.22725363e-01, -5.87348198e-01, -9.09283717e-02,
         3.17722127e-01, -1.25159865e+00,  6.72681549e-01,
        -1.64711985e-01,  6.98814510e-01],
       [ 4.27328774e+00,  3.65904196e+00,  5.83455175e+00,
         3.77056253e-03, -1.21309175e+00, -9.10577788e-01,
        -2.37357556e+00, -1.27209170e-01, -1.50866365e+00,
        -2.07369280e-02,  1.89103136e+00, -2.02513936e-01,
        -1.46253184e-01, -5.27158005e-01, -2.18897240e+00,
        -6.69777664e-01,  1.14200266e-01, -9.54526196e-01,
         9.78905435e-01,  4.85106203e-02],
       [ 1.20919205e+00,  2.64707957e+00, -1.80749124e+00,
        -2.01329382e+00,  3.57958310e-01,  4.43656940e-02,
         1.60920072e+00,  2.44247892e-01,  1.21702010e+00,
        -8.49774959e-01, -8.85177714e-01, -2.53733903e+00,
        -1.79031521e+00,  1.20305221e+00, -1.92271423e+00,
        -1.68121129e+00,  1.01852854e+00,  2.15472291e+00,
        -2.22540285e-01,  3.01571342e-01],
       [ 8.90666332e+00,  1.73744355e+00, -3.27773553e+00,
         2.19967278e+00,  7.22908935e+00, -1.47110452e+00,
        -2.80219628e-01, -2.37248650e+00,  1.16289736e+00,
        -2.03481895e+00, -1.78026360e+00,  2.68433811e-04,
        -4.05778932e-01,  4.62722052e-01,  4.41242064e-01,
        -7.57147380e-01,  1.72772535e+00, -1.72369700e+00,
         8.41176063e-02, -3.55313795e-01],
       [ 1.30471705e+01, -4.47787808e+00,  2.11023391e+00,
         8.97259672e-01, -1.05776850e+00,  3.36110460e-01,
         2.41958428e-01, -1.52638496e+00, -2.18372385e+00,
         2.89237450e-01, -7.95647879e-01, -2.28729876e+00,
         1.15220937e+00,  1.55480457e+00, -9.11798906e-02,
         7.74341494e-01,  3.59617476e-01, -3.22919771e-01,
        -6.30345429e-01, -3.07455341e-01],
       [ 7.63221185e+00, -4.98963747e+00, -1.26335207e+00,
        -2.68486322e+00,  8.04936649e-01,  8.18853699e-01,
        -1.98467348e+00,  5.53670502e-01,  1.50030021e-01,
        -1.24624065e-01,  1.27893001e+00,  5.54393688e-01,
         5.99949100e-01, -6.09973302e-01, -6.53527746e-01,
         1.91087332e-01,  8.43873483e-01,  7.77462734e-01,
         7.43299833e-01, -6.20611994e-01],
       [ 2.40099683e+00, -6.65594302e-01,  2.50895499e-01,
        -3.23131298e-01,  4.08882712e+00,  2.84780136e+00,
         1.30956054e+00,  1.20896926e+00, -1.01518868e+00,
         4.80892746e+00,  3.31680056e-01,  1.24181443e+00,
        -2.10585969e+00,  6.88193943e-01,  6.25586356e-02,
         3.23740242e-01, -3.02215471e-01,  7.03485597e-02,
         2.27133263e-01, -7.56300957e-01],
       [ 7.10738202e+00, -3.19971234e+00, -9.86015613e-01,
        -1.41973432e+00,  1.91447128e+00, -3.60021364e+00,
         2.16053421e+00, -2.58074103e+00, -2.92036828e+00,
         9.16429111e-01,  2.71378413e+00,  4.38856959e-01,
        -6.80221844e-01, -1.76941315e+00,  6.66645354e-01,
        -1.84842356e-01,  8.37069934e-01,  1.70521258e-01,
        -1.96704210e-01,  3.63272819e-01],
       [ 2.46585203e+00,  1.88547094e+00, -9.42074704e-01,
         6.28858104e-01, -5.93506066e-01, -3.46580665e-01,
        -1.05869262e+00,  6.05882721e-01, -3.40250651e+00,
        -1.68527887e+00,  1.39733846e+00,  3.29943923e+00,
         1.30978958e-01,  9.75755678e-01, -1.36152793e-01,
        -1.10468357e+00,  6.74903952e-01,  1.10036410e+00,
         6.77358362e-01,  3.28022868e-01],
       [ 4.11793892e-01, -1.61052346e-01,  2.25817382e-01,
         1.11084182e+00,  3.69082350e-01,  1.34838683e+00,
         1.00515392e+00,  1.30875476e+00,  1.51355452e-01,
         8.73898535e-01,  1.41434902e+00, -1.32550961e-01,
        -8.54547435e-01,  5.25743816e-01,  7.93070645e-01,
        -1.67862730e+00, -7.83477731e-01, -3.64987597e-01,
        -5.10049154e-01, -1.05686079e+00],
       [ 1.55834565e+01, -4.35963200e+00,  7.28887556e+00,
         1.11044713e+00,  2.10414371e-01, -2.14195417e-01,
         6.83835168e-01,  2.24559929e+00,  1.35102528e-01,
        -1.38171777e+00,  9.89259828e-01, -8.62367380e-01,
        -1.51471768e+00, -4.77456909e-01,  3.48798446e-01,
        -3.54704507e-01,  4.44056298e-01,  5.77961161e-01,
        -8.72209083e-01, -5.76644033e-01],
       [ 1.26024728e+01,  3.08788404e+00, -5.20158182e+00,
        -4.18106783e+00, -7.33217519e-01, -1.75636560e+00,
        -6.22634583e-01,  5.08634492e+00, -1.23733854e+00,
        -7.71476937e-01, -2.24802393e+00, -1.38586323e+00,
        -1.74659433e-02, -1.21342586e+00,  7.13205298e-01,
        -7.00490269e-01, -4.40482789e-01, -4.38265590e-01,
         1.56389731e-01, -1.46638810e-01],
       [ 1.77203321e+00,  1.69601979e+00,  2.73597902e-01,
         1.51478686e+00,  1.74955161e+00,  4.07506614e-01,
        -2.28032887e+00,  8.66251439e-01, -1.95759039e+00,
        -2.97762508e+00,  4.98631989e-01, -1.26337466e-01,
        -2.87834583e-01,  2.70915358e+00,  1.44312389e+00,
         1.83808050e+00, -3.53837460e-01,  8.47186447e-01,
         9.92904899e-02,  6.76151480e-02],
       [ 2.02886276e+00,  2.03760820e+00,  5.43308242e+00,
         6.59577963e-01,  7.50419449e-01, -1.08609633e+00,
        -2.40446566e+00, -1.77684281e-01,  6.41757271e-01,
        -2.72510226e-01,  1.19659909e+00, -1.89279124e+00,
        -9.44300455e-01,  1.15124627e+00, -1.04494021e+00,
         6.56125400e-01, -1.34368896e-01, -7.03379205e-01,
        -5.57266312e-01,  2.47790971e-01],
       [ 8.67270152e-01, -5.88917796e-02,  2.45322024e-01,
         3.68529993e-01,  1.72321871e-01, -1.38043450e-02,
        -1.96017539e-01, -8.95874150e-01,  4.89670826e-02,
         1.07532601e-01, -8.90761622e-01, -9.24009485e-02,
        -1.46722291e-01, -8.90896841e-01,  1.56921655e+00,
        -9.39348140e-01,  4.83791456e-02,  6.34394077e-01,
        -7.80443804e-01,  9.90944375e-01],
       [ 1.37946006e+00,  1.25253366e+00, -1.44768115e+00,
        -1.35262617e+00, -5.86419995e-01, -6.06364640e-01,
         1.96884396e+00, -3.37376845e+00,  1.15005101e-01,
        -9.86959547e-02,  2.97742690e-01, -1.85892395e+00,
        -1.62486972e+00,  2.44118551e+00, -4.22717966e-02,
        -7.78175180e-01, -1.40733103e+00,  1.39808585e-01,
         1.23380442e+00, -3.95987883e-01],
       [ 8.06084288e-01,  2.99849042e-01,  2.60491886e+00,
        -4.00470310e-01,  1.34902024e+00, -2.77426962e+00,
         1.65119066e+00,  4.26569633e-01,  1.71204573e+00,
        -1.32728266e+00,  8.03329806e-01,  1.66869398e+00,
        -1.44358271e+00, -8.00658888e-01, -1.29835969e-01,
         3.94694085e-01, -8.41059289e-01,  2.03207446e-01,
         2.89470463e-01,  4.57625701e-03],
       [ 1.14452941e+00, -1.17628002e+00,  1.17066511e+00,
        -1.47397092e+00,  1.53818916e+00,  8.00826736e-01,
         1.41124068e+00,  2.42514851e-01, -1.63743304e+00,
         2.99969162e-01, -1.08892217e+00, -7.49504850e-02,
         1.35157851e+00,  6.00992615e-01, -5.75222107e-01,
        -1.04733745e-01, -1.50238555e-01, -2.36982187e-01,
         1.03741278e-01,  2.27093215e-01]])

Min tanke har varit att jag ska kunna uppskatta de saknade värdena i sparse matrisen, baserat på hur övriga userId'n har betygsatt. Detta är ett försök men det är oklart om detta verkligen kan ge något bra resultat.
Får se vad nästa steg blir.

### Content Filtering försök:
- Jag gör en annan approach, enligt min beskrivning nummer 2 ovan.
- Tanken är att klustra filmer baserat på hur lika de är varandra. Algoritmen som jag provar är K-means. 'tag' och 'genre' används för att särskilja filmerna.
- En dataframe / matris med alla tags / genres som index och alla filmer som kolumner, måste skapas som första steg. Detta behöver vara en snabb funktion eftersom det är så många filmer och tags att gå igenom.
- Jag börjar med ett 'm' av filmer och ett 'n' antal parametrar, bara för att se om det ens fungerar.

In [203]:
m = 85000
top_m_movies = ratings['movieId'].value_counts().head(m).index.to_list()

In [207]:
n= 10000
tags_top_n = tags['tag'].value_counts().head(n)
tags_top_n_list = tags['tag'].value_counts().head(n).index.to_list()
tags_top_n

tag
sci-fi                            14319
atmospheric                       12172
action                            10683
comedy                            10161
surreal                            9142
                                  ...
social services                      26
talking to oneself in a mirror       26
reference to napoleon                26
american south                       26
rudeness                             26
Name: count, Length: 10000, dtype: int64

Reducerar dataframen med tags till att enbart innehålla kombinationen av de 'm' mest populära filmerna samt de 'n' mest använda taggarna.

Med hjälp av pivot_table funktionen skapas den ovan beskrivna tabellen, utifrån den reducerade tags dataframen.
- som rader är alla 'movieId'
- som kolumner är alla 'tag'
- funktionen 'size' summerar antalet gånger en tag förekommer. Tex för The Dark Knight så förekommer 'Heath Ledger' som tag 257 gånger, vilket är samma i nedan matris.

In [208]:
tags_reduced = tags[(tags['tag'].isin(tags_top_n_list)) & (tags['movieId'].isin(top_m_movies))]

In [209]:
pivot_table = pd.pivot_table(data=tags_reduced, index='movieId', columns='tag', aggfunc='size', fill_value=0)
pivot_table

tag,"""found footage""",(s)vcd,*,007,007 (series),01/10,01/11,01/12,02/10,02/11,...,yuppie,z movie,zeppelin,zero gravity,zippo lighter,zombie,zombie apocalypse,zombie attack,zombies,zoo
movieId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288753,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288765,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Nedan kan man se att 'Heath Ledger' har värdet 257 i pivot_table dataframen (vilket är betryggande, vi är på rätt väg.)

In [210]:
pivot_table.loc[58559,:].sort_values() # kollar The Dark Knight

tag
"found footage"             0
miscarriage                 0
miscarriage of justice      0
misery                      0
misfit                      0
                         ...
Christian Bale            188
superhero                 202
dark                      212
Batman                    243
Heath Ledger              257
Name: 58559, Length: 10000, dtype: int64

Nästa steg är att klustra liknande filmer med K-means.
- gör scaling först.

In [211]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

#scaler = StandardScaler()
scaler = MinMaxScaler()
scaled_pivot_table = scaler.fit_transform(pivot_table)
scaled_pivot_table

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

Nedan provar jag lite olika 'k', dvs antal kluster. Antalet kluster man vill använda kan nog variera lite, men man kan säkert göra 100 olika kluster. Men efter runt 250 kluster så sjunker inte inertia så mycket.

In [212]:
from sklearn.cluster import KMeans

#clusters = range(100,500,50)
#sum_squared_distance = [
#    KMeans(k, n_init="auto").fit(scaled_pivot_table).inertia_ for k in clusters
#]
#sum_squared_distance

#KMeans(200, n_init="auto").fit(scaled_pivot_table).inertia_

In [213]:
k = 250
kmeans = KMeans(k, n_init="auto").fit(scaled_pivot_table)

In [214]:
labels = pd.DataFrame(kmeans.labels_)
labels.value_counts().head(19)

0
7      41214
78      3068
81      1018
131      379
96       285
59       245
65       221
2        220
150      162
152       93
25        92
6         82
183       80
80        79
127       71
236       66
0         59
35        58
53        56
Name: count, dtype: int64

Jag har ett problem här. Det är så att storleken på klustren är väldigt olika. Det största klustret innehåller 6000-7000 filmer (klustrets storlek varierar beroende på värdet på k, jag har provat med 100 - 250 kluster ungefär). Sedan är det relativt få kluster med fler än sådär 20-30 filmer upp till 1000 filmer. De flesta kluster innehåller 1-2 filmer. Här skulle man vilja ha jämnare storlek på klustren. Ett försök till det, kan vara att även utnyttja informationen om 'genre' (vilken vi inte utnyttjat ännu).
Innan jag börjar jobba med att addera 'genre', så kollar jag att skalningen blev bra. Om den inte blev det kan jag tänka mig att det kan bli tokigt.

Skapar en dataframe igen så att jag kan kolla hur sakerna ser ut efter skalningen. Eftersom jag får i princip några få stora kluster vill jag bara kolla att skalningen är rätt.

In [215]:
scaled_pivot_table_df = pd.DataFrame(data=scaled_pivot_table, columns=pivot_table.columns, index=pivot_table.index )
scaled_pivot_table_df

tag,"""found footage""",(s)vcd,*,007,007 (series),01/10,01/11,01/12,02/10,02/11,...,yuppie,z movie,zeppelin,zero gravity,zippo lighter,zombie,zombie apocalypse,zombie attack,zombies,zoo
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288747,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Adderar 'genre' till analysen
- många filmer, tex The Dark Knight har flera genres separerade med en pipe, typ  (Drama|Commedy|Action). Jag tror att det bästa är att göra en ny dataframe där varje genre får en "egen" rad, för att öka chansen att liknande filmer får mer lika features.

In [193]:
movies_reduced = movies[movies['movieId'].isin(top_m_movies)] # tar bara med de top m filmer vi analyserar, valt ovan
movies_reduced['genres'] = movies_reduced['genres'].str.split('|')
movies_exploded = movies_reduced.explode('genres')

C:\Users\danie\AppData\Local\Temp\ipykernel_11816\2117182021.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_reduced['genres'] = movies_reduced['genres'].str.split('|')

In [194]:
movies_exploded.head(10)

   movieId                    title     genres
0        1         Toy Story (1995)  Adventure
0        1         Toy Story (1995)  Animation
0        1         Toy Story (1995)   Children
0        1         Toy Story (1995)     Comedy
0        1         Toy Story (1995)    Fantasy
1        2           Jumanji (1995)  Adventure
1        2           Jumanji (1995)   Children
1        2           Jumanji (1995)    Fantasy
2        3  Grumpier Old Men (1995)     Comedy
2        3  Grumpier Old Men (1995)    Romance

Adderar alla unika 'genres' till en lista så att jag kan använda den nedan för att ta bort dubbletter (dvs, ta bort "action" från användar tags, om "action" även finns bland 'genres')

In [224]:
genres_list = movies_exploded['genres'].unique().tolist()
genres_list

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'IMAX',
 'Documentary',
 'War',
 'Musical',
 'Western',
 'Film-Noir',
 '(no genres listed)']

Skapar en pivot table, liknande den för 'tags', men för 'genre'.

In [196]:
pivot_table_genre = pd.pivot_table(data=movies, index='movieId', columns='genres', aggfunc='size', fill_value=0)
pivot_table_genre

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Sci-Fi|Thriller|War,Sci-Fi|Thriller|Western,Sci-Fi|War,Sci-Fi|Western,Thriller,Thriller|War,Thriller|Western,War,War|Western,Western
movieId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288967,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Denna dataframen är inte samma storlek som den förra (den innehåller fler filmer), så jag måste mergea dem på gemensamt movieId (och ev ta bort NaN's).

In [197]:
scaled_pivot_table_df.merge(pivot_table_genre, left_on='movieId', right_on='movieId')

,action,atmospheric,comedy,dark comedy,funny,sci-fi,surreal,thought-provoking,twist ending,visually appealing,...,Sci-Fi|Thriller|War,Sci-Fi|Thriller|Western,Sci-Fi|War,Sci-Fi|Western,Thriller,Thriller|War,Thriller|Western,War,War|Western,Western
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.003279,0.000000,0.24375,0.0,0.508621,0.000911,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.000000,0.000000,0.03125,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.000000,0.000000,0.00625,0.0,0.008621,0.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
6,0.003279,0.261307,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
7,0.000000,0.000000,0.00625,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287633,0.000000,0.000000,0.00000,0.0,0.000000,0.000911,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
288167,0.003279,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
288265,0.003279,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
288311,0.003279,0.000000,0.00000,0.0,0.008621,0.000911,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
288679,0.000000,0.000000,0.01250,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

KOllar om det finns NaN's, och det finns inga. Bra.

In [198]:
True in scaled_pivot_table_df.isna()

False

Nu är 'genre' informationen adderad. Kör K-Means igen.

In [199]:
k = 250
kmeans_final = KMeans(k, n_init="auto").fit(scaled_pivot_table_df)

In [200]:
labels = pd.DataFrame(kmeans_final.labels_)
labels.value_counts().head(19)

0
88     1374
81      627
0       481
138     295
147     244
174     226
62      117
155     104
175      96
95       85
216      75
242      73
33       71
171      65
185      57
80       56
142      55
241      46
190      45
Name: count, dtype: int64